@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background-color: $primary-color;
    color: $text-color;
}

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}-p1 {
        font-weight: weight(bold);
        color: red;

        &:hover {
            color: pink;
        }
    }

    #{&}-p2 {
        @extend .main-p1;

        &:hover {
            color: purple;
        }
    }

    @include mobile() {
        @include flexCenter(column)
    }
}


.light {
    @include theme(false);
}